/.vscode

task.log
email-report.xlsx
__pycache__/
ear.log
output*.*
data*.*
output/first_review.png
output/folders.xlsx
data/snappartial.xlsx
data/snapshot-emails-2023-12-12.xlsx
data/~$data-emails - Copy.xlsx
